@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
    color: #222222;
    background-color: #ffffff;
    font-size: 24px;
    font-family: "Zen Old Mincho", serif;
}

a {
    color: #d7f8ff;
}

.content {
    padding: 50px 15%;
}

.content-title {
    margin: 0 auto;
}

.content-text {
    margin: 0 auto;
}

.content h2 {
    font-size: 81px;
    font-family: "Caveat", cursive;
    text-align: center;
}

.content .pre-text {
    text-align: center;
    font-size: 18px;
    color: #aaaaaa;
}
