@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    position: relative;
    color: #222222;
    background-color: #ffffff;
    font-size: 24px;
    font-family: "Zen Old Mincho", serif;
}

a {
    color: #54c7e0;
}
a:visited {
    color: #79949a;
}

.content {
    padding: 50px 15%;
}

.content-title {
    margin: 0 auto;
}

.content-text {
    margin: 0 auto;
}

.content h2 {
    font-size: 81px;
    font-family: "Caveat", cursive;
    text-align: center;
}

.content h3 {
    font-size: 54px;
    font-family: "Caveat", cursive;
    text-align: center;
}

.content .pre-text {
    text-align: center;
    font-size: 18px;
    color: #aaaaaa;
}

/* ヘッダーの色が薄くなる場合、色が濃くなる場合 */
.header-fade {
    opacity: 0.3;
    animation: header-fade 0.5s ease-out;
}
.header-appear {
    opacity: 1;
    animation: header-appear 0.5s ease-out;
}

@keyframes header-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes header-appear {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}